<div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile" lang="ru" />
  <label
    class="custom-file-label form-control-lg placeholder-color"
    for="customFile"
    data-browse="Выбрать"
  >Выберите файл</label>
</div>
<div class="input-group-append">
  <button
    class="btn btn-outline-secondary custom-file-clear"
    type="button"
    disabled="disabled"
  >X</button>
</div>